// -----------------------------------------------------------------------------
// This file contains base styles.
// -----------------------------------------------------------------------------

@use 'abstracts' as *;

/* Box Model */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Selection Highlights */

::-moz-selection {
  background: $accent-color;
  color: $white;
}

::selection {
  background: hsl(175, 60%, 45%);
  color: white;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  max-width: 100%;
}

hr {
  border: none;
  background-color: rgba(0,0,0,0.1);
  height: 1px;
}


/* Form Elements */

::placeholder {
  color: $gray;
  opacity: 1;
  text-transform: capitalize;
}

fieldset {
  border: 1px solid $accent-color;
  margin-bottom: 1rem;
}

legend {
  color: $white;
  background: $accent-color;
  padding: 0 1rem;
}

label {
  color: $header-color;
  cursor: pointer;
  display: block;
  font-weight: 700;
  margin-top: 0.5rem;
}

input,
select,
textarea {
  background: $input-color;
  border: $primary-border;
  margin: 0.5rem 0;
  outline: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  transition: border-color $hover;
  &:hover {
    border-color: $accent-color;
  }
  &:focus,
  &:active {
    border: 1px solid $accent-color;
  }
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  margin: 0 1rem;
  position: relative;
  width: fit-content;
  &:before {
    transition: transform .4s cubic-bezier(.45,1.8,.5,.75);
    content: "";
    position: absolute;
    z-index: 1;
  }
  &:checked {
    &:before {
      transform: scale(1)
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: -0.1rem;
    left: -0.1rem;
    width: 1.25rem;
    height: 1.25rem;
    background: #fff;
    border: 2px solid $border-color;
  }
}

input[type="radio"] {
  &:before {
    border-radius: 50%;
    top: 0.15rem;
    left: 0.15rem;
    width: 0.8rem;
    height: 0.8rem;
    transform: scale(0);
    background: $accent-color;
  }
  &:after {
    border-radius: 50%;
  }
}

input[type="checkbox"] {
  &:before {
    border: 2px solid $accent-color;
    width: 0.5rem;
    height: 0.8rem;
    left: 0.25rem;
    border-top-style: none;
    border-left-style: none;
    transform: rotate(35deg) scale(0);
  }
  &:checked {
    &:before {
      transform: rotate(35deg) scale(1);
    }
  }
}

textarea {
  resize: vertical;
}

button, .button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: transparent;
  border: $primary-border;
  color: $header-color;
  cursor: pointer;
  font-family: $header-font;
  font-weight: 700;
  letter-spacing: 0.25rem;
  margin: auto;
  min-width: 10rem;
  padding: 1rem 2rem;
  transition: background-color $hover, border $hover, color $hover;
  text-transform: uppercase;
  &:hover {
    border: 1px solid $accent-color;
    color: $accent-color;
    &:active {
      background-color: $active-color;
    }
  }
}

/* Figure Elements */

figure {
  width: fit-content;
  max-width: 100%;
}

figcaption {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  max-width: 75%;
}

.art {
  border: 0.5rem solid black;
  background: white;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.5), inset 0 0 10px 0 rgba(0,0,0,0.8);
  a {
    display: grid;
    margin: 3rem;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8) inset;
    }
  }
  ~ figcaption {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    margin: 1.5rem auto 0 auto;
  }
}

/* Table Elements */

table {
  background-color: $white;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
  @include break(tablet-l) {
    display: block;
    overflow-x: auto;
  }
  caption {
    text-align: left;
  }
}

thead, tfoot {
  background-color: $headerbg-color;
  @include break(tablet-l, max) {
    display: none;
  }
}

tr {
  transition: $hover;
  @include break(tablet-l, max) {
    border: 1px solid $border-color;
    display: block;
  }
  @include break(tablet-l) {
    &:hover {
      background-color: $accent-hover;
    }
    &:nth-child(even) {
      background-color: $light-gray;
      &:hover {
        background-color: $accent-hover;
      }
    }
  }
  & + tr {
    margin-top: .625rem;
  }
  td:first-child::after {
    border: 2px solid $accent-color;
    border-top-style: none;
    border-left-style: none;
    content: "";
    float: right;
    position: relative;
    top: 0.25rem;
    height: 0.8rem;
    width: 0.8rem;
    transform: rotate(45deg) scale(1);
    transition: all $hover;
    @include break(tablet-l) {
      display: none;
    }
  }
  &.active td {
    &:first-child::after {
      top: 0.6rem;
      transform: rotate(45deg) scale(-1);
    }
    &:not(:first-child) {
      opacity: 1;
      position: relative;
      transition: all $hover;
      z-index: auto;
    }
  }
}

th, td {
  padding: 0.5rem 1rem;
  @include break(tablet-l) {
    text-align: center;
  }
}

th {
  text-transform: uppercase;
}

td {
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  @include break(tablet-l,max) {
    &:last-child {
      border-bottom: 0;
    }
  }
  @include break(tablet-l) {
    display: table-cell;
    &[align="left"] {text-align: left;}
    &[align="center"] {text-align: center;}
    &[align="right"] {text-align: right;}
  }
  &:hover {
    background-color: $accent-hover;
  }
  &:before {
    color: $dark-gray; // TODO: Check Color
    content: attr(data-header);
    font-weight: bold;
    max-width: 45%;
    text-transform: uppercase;
    @include break(tablet-l) {
      display: none;
    }
  }
  &:first-child {
    text-align: left;
    @include break(tablet-l, max) {
      background-color: $headerbg-color;
    }
  }
  &:not(:first-child) {
    transition: none;
    @include break(tablet-l, max) {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }

}
