{{ if .Params.images }}
<figure>
  <a href="{{ .RelPermalink }}" class="image featured">
    {{ range first 1 .Params.images }}
      <img class = "postimg" src="{{ . | relURL }}" alt="">
    {{ end }}
  </a>
  <figurecaption class= "caption"> {{ .Params.caption }} </figurecaption>
  </figure>
  
{{ else if .Params.featured }}
  <a href="{{ .RelPermalink }}" class="image featured">
    <img src="{{ (path.Join "img" (cond (eq .Params.featuredpath "date") (.Page.Date.Format "2006/01") (.Params.featuredpath)) .Params.featured) | relURL }}" alt="{{ .Params.featuredalt }}">
  </a>
{{ end }}
