// -----------------------------------------------------------------------------
// This file contains all site-wide breakpoints.
// -----------------------------------------------------------------------------

$breakpoints: (
  tall: 600px,
  mobile-s: 320px,
  mobile-m: 375px,
  mobile-l: 425px,
  tablet-s: 570px,
  tablet-l: 768px,
  laptop: 1024px,
  1440p: 1440px,
  4k: 2560px
);

@mixin break($breakpoint, $limit:min) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
    $param: "min-width";
    @if $breakpoint == tall {$param: $limit+"-height";}
    @else {$param: $limit+"-width";}
    @media screen and ($param: $value) {
      @content
        }
  }
  @else {
    @warn "Unknown `#{$breakpoint}` in $breakpoints";
  }
};
