.count {
  float: right;
}

.copyright {
  color: $gray;
  font-family: $header-font;
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-align: center;
  text-transform: uppercase;
}

.socnet-icons {
  @include display-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  li {
    margin: 0 0.5em;
    min-width: 20px;
    list-style-type: none;
    a {
      opacity: 0.6;
      border: none;
    }
  }
}
