.post {
  background:	$white;
  margin: 1.5em auto;
  padding: 1em;
  max-width: 55em;
  > header {
    border-bottom: $primary-border;
    margin: -1em -1em 0 -1em;
    text-align: center;
    @include prefix(word-break, break-word, ms);
    @include break(laptop-up) {
      @include display-flex;
      justify-content: space-between;
      text-align: left;
    }
    div {
      padding-bottom: 1em;
      @include break(laptop-up) {
        padding: 1.5em;
      }
    }
    p {
      margin: -1em 0 0 0;
    }
  }
  > div > p,
  > p {
    text-align: justify;
  }
  footer {
    @include display-flex;
    flex-direction: column;
    .button {
      margin: 1em auto;
      width: 100%;
    }
  }
}

.image {
  border: 0;
  display: grid;
  place-items: center;
  margin: 0 -1em 1em -1em;
  overflow: hidden;
  padding-bottom: 33%;
  @include prefix(transform, perspective(1000px), (webkit, ms));
  img {
    position: absolute;
    max-height: 100%;
    transition: transform $hover-slow;
    &.stretchV {
      height: 100%;
    }
    &.stretchH {
      width: 100%;
    }
    &.cover {
      object-fit: cover;
      width: 100%;
    }
  }
  &[style]::before {
    content: "";
    position: absolute;
    background-image: var(--bg-image);
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    @include prefix(filter, blur(8px), webkit);
    @include prefix(transform, scale(1.1), (webkit, ms));
  }
  &:hover {
    img {
      @include prefix(transform, scale(1.05), (webkit, ms));
    }
  }
}

.title {
  font-size: 1.1em;
  width: 100%;
  @include break(laptop-up) {
    width: 75%;
  }
}

.meta {
  @include display-flex;
  font-family: $header-font;
  font-size: 0.6em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @include break(laptop-up) {
    border-left: $primary-border;
    text-align: right;
    width: 25%;
  }
  time {
    font-size: 1.2em;
    font-weight: 800;
  }
}

.stats {
  @include display-flex;
  flex-direction: column;
  @include break(mobile-l-up) {
    flex-direction: row;
    justify-content: space-around;
  }
  ul {
    @include display-flex;
    flex-wrap: wrap;
    margin: 1em 0 0 0;
    padding: 0;
    font-family: $fa-free-font;
    font-weight: 900;
    list-style: none;
    @include break(mobile-l-up) {
      max-width: 50%;
      justify-content: center;
    }
    &::before {
      width: 40px;
      padding-right: 1em;
      margin-right: 1em;
      border-right: $primary-border;
      @include break(mobile-l-up) {
        padding-right: 0;
        margin-right: 0;
        border-right: 0;
        border-bottom: $primary-border;
        flex: 100%;
        height: fit-content;
        text-align: center;
      }
    }
    li { // Fix Wrap Small
      font-family: $header-font;
      font-size: 0.6em;
      font-weight: 400;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      &:not(:first-child) {
        margin-left: 1em;
      }
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

/*.stats {
  ul {
    &:hover,
    &:focus,
    &:active {
      li {
        visibility: visible;
        opacity: 1;
        line-height: 1;
        margin: 1em;
        width: auto;
      }
    }
    li {
      visibility: visible;
      line-height: 0;
      margin: 0;
      width: 0;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear, line-height 0.5s linear, margin 0.5s linear, width 0.5s linear;
      text-transform: uppercase;
      &:nth-child(-n + 3) {
        visibility: visible;
        opacity: 1;
        width: auto;
        line-height: 1;
        margin: 1em;
      }
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}*/

.categories::before {
  content: "\f07b";
}

.tags::before {
  content: "\f02c";
}

.mini-post {
  background: $white;
  border: $primary-border;
  @include display-flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 100%;
  @include break(laptop-up) {
    width: 49%;
  }
  @include break(desktop-up) {
    width: 100%;
  }
  header {
    min-height: 4em;
    padding: 0.5em 1.25em;
    position: relative;
    @include break(laptop-up) {
      border-top: $primary-border;
    }
    @include break(desktop-up) {
      border: 0;
    }
    h2 {
      font-size: 0.7em;
    }
    time {
      font-family: $header-font;
      font-size: 0.6em;
      letter-spacing: 0.25em;
      text-transform: uppercase;
    }
  }
  .image {
    margin: 0;
  }
}
