// -----------------------------------------------------------------------------
// This file contains share button styles.
// -----------------------------------------------------------------------------

@use 'abstracts' as *;

.share-btn {
  color: $white;
  border-radius: 5px;
  box-shadow: $shadow-1;
  display: grid;
  font-size: 2rem;
  height: 4rem;
  margin: 0.5rem 1rem;
  place-items: center;
  position: relative;
  top: 0px;
  transition: $hover;
  &:hover {
    box-shadow: $shadow-2;
    color: $white;
    top: -2px;
  }
  &:active {
    box-shadow: none;
    color: darken($white, 10%);
    top: 2px;
  }
}
