@use 'abstracts' as *;

.share-btn {
  color: $white;
  box-shadow: $shadow-1;
  font-size: 2rem;
  margin: 0.5rem 1rem;
  text-align: center;
  position: relative;
  top: 0px;
  transition: $hover;
  &:hover {
    box-shadow: $shadow-2;
    color: $white;
    top: -2px;
  }
  &:active {
    box-shadow: none;
    color: darken($white, 10%);
    top: 2px;
  }
}

#social-share {
  display: flex;
  padding: 0.5rem 0;
  a {
    border-radius: 100%;
    display:inline-block;
    font-size: 1rem;
    line-height: 2.5rem;
    margin: 0 0.25rem;
    width: 2.5rem;
  }
}
