{{ if .Site.DisqusShortname }}
  <article class="post">
    {{ template "_internal/disqus.html" . }}
  </article>

{{/* Backwards compatibility for deprecated parameter ".Site.Params.staticman.staticman" */}}
{{ else if or .Site.Params.staticman.enabled .Site.Params.staticman.staticman }}
  <article class="post">
    {{/* $entryId stores the transformed current path for sorting Staticman data file */}}
    {{- $entryId := .File.UniqueID -}}
    {{/* Additional div wrapper for proper consistent margin */}}
    <div>
      <h2>{{ i18n "say_something" }}</h2>
        <form id="comment-form" class="new-comment" method="POST">
          {{/* Display reply target */}}
          <h3 class='reply-notice hidden'>
            <span class='reply-name'></span>
          </h3>

          {{/* Hidden fields */}}
          <input type="hidden" name="options[entryId]" value="{{ $entryId }}">
          <input type='hidden' name='fields[replyThread]' value=''>
          <input type='hidden' name='fields[replyID]' value=''>
          <input type='hidden' name='fields[replyName]' value=''>

          {{/* User input fields */}}
          <input required name='fields[name]' type='text' placeholder='{{ i18n "form_name" }}'>
          <input name='fields[website]' type='text' placeholder='{{ i18n "form_website" }}'>
          <input required name='fields[email]' type='email' placeholder='{{ i18n "form_email" }}'>
          <textarea required name='fields[body]' placeholder='{{ i18n "form_body" }}' rows='10'></textarea>

          {{/* reCAPTHCA v2 */}}
          {{ if and .Site.Params.staticman.recaptcha.siteKey .Site.Params.staticman.recaptcha.encryptedKey }}
          {{ with .Site.Params.staticman.recaptcha }}
            <input hidden name="options[reCaptcha][siteKey]" value="{{ .sitekey }}">
            <input hidden name="options[reCaptcha][secret]" value="{{ .encryptedkey }}">
            <div class="g-recaptcha" data-sitekey="{{ .sitekey }}"></div>
          {{ end }}
          {{ end }}

          {{/* Start comment form alert messaging */}}
          <div class='submit-notice'>
            <strong class='submit-notice-text submit-success hidden'>{{ i18n "success_msg" }}</strong>
            <strong class='submit-notice-text submit-failed hidden'>{{ i18n "error_msg" }}</strong>
          </div>

          {{/* Form buttons */}}
          <input type='submit' value='{{ i18n "sumbit" }}' class='button'>
          <input type='submit' value='{{ i18n "submitted" }}' class='hidden button' disabled>
          <input type='reset' value='{{ i18n "reset" }}' class='button'>
        </form>
    </div>

    {{/* Additional div wrapper for proper consistent margin */}}
    <div>
      <h2>{{ i18n "comments" }}</h2>

      {{ if .Site.Data.comments }}
        {{/* $comments collects comment files for the current blog entry */}}
        {{- $comments := index $.Site.Data.comments $entryId -}}
        {{ if not $comments }}
          <p>{{ i18n "nothing_yet" }}</p>
        {{ else }}
          {{/* Loop through "main comments" only if "data/comments exists" */}}
          {{ range $comments }}
            {{ if not .replyThread }}
              {{ $.Scratch.Set "threadID" ._id }}
              {{/* Comment template for a "main comment" */}}
              <article id="{{ ._id }}" class="comment">
                <header>
                  <img class="comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=100" alt="{{ .name }}'s Gravatar">
                  <div class="comment-author-container">
                    <h3 class="comment-author">
                      {{- if .website -}}
                        <a rel="external nofollow" href="{{ .website }}">{{ .name }}</a>
                      {{- else -}}
                        {{- .name -}}
                      {{- end -}}
                    </h3>
                  </div>
                  <div class="comment-timestamp">
                    <a href="#{{ ._id }}" title="Permalink to this comment">
                      <time datetime="{{ .date }}">{{ dateFormat "02/01/2006" .date }}</time>
                    </a>
                  </div>
                </header>
                <div class="comment-content">
                  {{ .body | markdownify }}
                </div>
                <footer class='comment-reply-container'>
                  <span class='comment-threadID hidden'>{{ ._id }}</span>
                  <a class='comment-reply-btn button' href='#comment-form'>{{ i18n "reply" }}</a>
                </footer>
              </article>
              {{/* Loop through "comment replies" */}}
              {{ range $comments }}
                {{ if eq .replyThread ($.Scratch.Get "threadID") }}
                {{/* Comment template for a "comment reply" */}}
                <article id="{{ ._id }}" class="comment comment-reply">
                  <header>
                    <img class="comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=100" alt="{{ .name }}'s Gravatar">
                    <div class="comment-author-container">
                      <h3 class="comment-author">
                        {{- if .website -}}
                        <a rel="external nofollow" href="{{ .website }}">{{ .name }}</a>
                        {{- else -}}
                          {{- .name -}}
                        {{- end -}}
                      </h3>
                      <a href='#{{ .replyID }}' class='reply-target'>{{ .replyName }}</a>
                    </div>
                    <div class="comment-timestamp">
                      <a href="#{{ ._id }}" title="Permalink to this comment">
                        <time datetime="{{ .date }}">{{ dateFormat "02/01/2006" .date }}</time>
                      </a>
                    </div>
                  </header>
                  <div class="comment-content">
                    {{ .body | markdownify }}
                  </div>
                  <footer class='comment-reply-container'>
                    <span class = 'comment-threadID hidden'>{{ .replyThread }}</span>
                    <a class='comment-reply-btn button' href='#comment-form'>{{ i18n "reply" }}</a>
                  </footer>
                </article>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </article>
{{ end }}
