{{ if .Params.images }}
  <div class="slideshow-container">
    <a href="{{ .RelPermalink }}" class="image featured">
      {{ range .Params.images }}
      <div class="slideshow-slide fade">
        <img src="{{ index . 0 | relURL }}"{{ with (index . 1) }} alt="{{ . }}"{{ end }}{{ with (index . 2) }} style="{{ . }}"{{ end }}>
      </div>
      {{ end }}
    </a>
    <div class="slideshow-nav">
      {{ $slideCount := 0 }}
      {{ range .Params.images }}
        {{ $slideCount = add $slideCount 1 }}
        <span class="slideshow-indicator" onclick="showSlides({{- $slideCount -}})"></span>
      {{ end }}
    </div>
  </div>
{{ else if .Params.featured }}
  <a href="{{ .RelPermalink }}" class="image featured">
    <img src="{{ (path.Join "img" (cond (eq .Params.featuredpath "date") (.Page.Date.Format "2006/01") (.Params.featuredpath)) .Params.featured) | relURL }}" alt="{{ .Params.featuredalt }}">
  </a>
{{ end }}
