<header class="content-header">
  <div class="content-summary">
    <h1 class="content-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    {{ with .Description }}
      <p class="content-description">{{ . }}</p>
    {{ end }}
  </div>
  <div class="content-meta">
    <time class="content-date" datetime="{{ .Date }}">{{ .Render "date" }}</time>
    {{ with .Params.author }}<p class="post-author">{{ . }}</p>{{ end }}
    {{ if .Site.Params.ReadingTime }}<p class="post-time">{{ i18n "reading_time" .ReadingTime }}</p>{{ end }}
  </div>
  {{ .Render "featured" }}
</header>
