{{ define "main" }}
  {{ $paginator := .Paginate (cond .IsHome (where site.RegularPages "Type" "in" site.Params.mainSections) (.Data.Pages) ) }}
  {{ range $paginator.Pages }}
    {{ .Render "content-list" }}
  {{ end }}
  <div class="pagination">
    {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}" class="button left">{{ i18n "previous_page" }}</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}" class="button right">{{ i18n "next_page" }}</a>
    {{ end }}
  </div>
{{ end }}
