{{ define "main" }}
  <article class="post">
    {{ .Render "header" }}
    <section id="socnet-share">
      {{ partial "share-buttons" . }}
    </section>
    {{ .Render "featured" }}
    <div class="content">
      {{ .Content }}
    </div>
    <footer>
      {{ .Render "stats" }}
    </footer>
  </article>
  {{ .Render "comments" }}
  <div class="pagination">
    {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.RelPermalink }}" class="button"><div class="previous"><div>{{ .PrevInSection.Title }}</div></div></a>
    {{ end }}
    {{ if .NextInSection }}
      <a href="{{ .NextInSection.RelPermalink }}" class="button"><div class="next"><div>{{ .NextInSection.Title }}</div></div></a>
    {{ end }}
  </div>
{{ end }}
