{{ define "main" }}
  <article class="content post">
    {{ .Render "header" }}
    <div class="content-body">
      {{ .Content }}
    </div>
    <footer class="content-footer">
      {{ .Render "stats" }}
    </footer>
  </article>
  {{ if not ( eq .Params.comments false) }}
    {{ .Render "comments" }}
  {{ end }}
  <div class="pagination">
    {{ if .NextInSection }}
      <a href="{{ .NextInSection.RelPermalink }}" class="button left">{{ .NextInSection.Title }}</a>
    {{ end }}
    {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.RelPermalink }}" class="button right">{{ .PrevInSection.Title }}</a>
    {{ end }}
  </div>
  {{ .Render "photoswipe" }}
{{ end }}
