<div class="stats">
  <ul class="categories">
    {{ if isset .Params "categories" }}
      {{ if gt (len .Params.categories) 0 }}
        {{ range .Params.categories }}
          <li><a class="article-terms-link" href="{{ path.Join "categories" (. | urlize | lower) | relLangURL }}/">{{ . }}</a></li>
        {{ end }}
      {{ end }}
    {{ else }}
      <li>None</li>
    {{ end }}
  </ul>
  <ul class="tags">
    {{ if isset .Params "tags" }}
      {{ if gt (len .Params.tags) 0 }}
        {{ range .Params.tags }}
          <li><a class="article-terms-link" href="{{ path.Join "tags" (. | urlize | lower) | relLangURL }}/">{{ . }}</a></li>
        {{ end }}
      {{ end }}
    {{ else }}
      <li>None</li>
    {{ end }}
  </ul>
</div>
