#site-header {
  background-color: $white;
  border-bottom: $primary-border;
  box-shadow: $shadow-2;
  height: 3.5em;
  line-height: 3.5em;
  position: fixed;
  margin-bottom: 3.5em;
  top: 0;
  width: 100%;
  z-index: 10000;
}
