// -----------------------------------------------------------------------------
// This file contains header layout styles.
// -----------------------------------------------------------------------------

@use 'abstracts' as *;

menu {
  margin: 0;
  padding: 0;
}

.site-header {
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.navbar {
  align-items: center;
  background-color: $white;
  border-top: 4px solid $accent-color;
  box-shadow: $shadow-2;
  @include display-flex;
  flex-wrap: wrap;
  height: 4rem;
  button {
    border: 0;
    border-left: $primary-border;
    font-weight: 400;
    margin: 0;
    min-width: unset;
    &:hover {
      border-left: $primary-border;
    }
  }
}

.nav-title {
  font-size: 1rem;
  margin: 0 0 0 1rem;
  @include break (mobile-m) {
    font-size: 1.25rem;
  }
  @include break(laptop,max) {
    flex-grow: 1;
  }
  @include break(laptop) {
    min-width: 18rem;
  }
  img {
    max-height: 3.25rem;
  }
}

.flyout-menu {
  background-color: $white;
  @include display-flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 4rem;
  right: -12rem;
  transition: right $hover-slow;
  width: 12rem;
  z-index: 100;
  &.active {
    box-shadow: $shadow-2;
    right: 0;
  }
}

.nav-menu {
  @include break(laptop, max) {
    button {
      border: 0;
      border-bottom: $primary-border;
      text-align: left;
      &:hover {
        border: 0;
        border-bottom: $primary-border;
      }
    }
    .nav-buttons {
      flex-direction: column-reverse;
    }
  }
  @include break(laptop) {
    align-items: center;
    background-color: unset;
    flex-direction: row;
    flex-grow: 1;
    white-space: nowrap;
    overflow: auto;
    position: static;
    .nav-link {
      border-bottom: 0;
      border-left: $primary-border;
      padding: 0 1rem;
      &:hover {
        border-bottom: 0;
      }
    }
    &.active {
      box-shadow: unset;
    }
  }
  .nav-buttons button {
    display: block;
    @include break(mobile-l) {
      &:nth-last-child(-n+1) {
        display: none;
      }
    }
    @include break(tablet-s) {
      &:nth-last-child(-n+3) {
        display: none;
      }
    }
  }
}

.nav-link {
  border-bottom: $primary-border;
  font-family: $header-font;
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  padding: 1rem;
  transition: color $hover;
  &:hover {
    border-bottom: $primary-border;
  }
  i {
    display: inline-block;
    font-style: normal;
    letter-spacing: 0;
    width: 2rem;
  }
}

.nav-buttons {
  display: flex;
}

.toggle {
  display: none;
  height: 4rem;
  padding: 0;
  text-transform: uppercase;
  width: 4rem;
  i {
    font-size: 1.5rem;
  }
  &.active {
    display: block;
    color: $accent-color;
  }
  &:not(.inactive) {
    &:nth-last-child(-n+1) {
      display: block;
    }
    @include break(mobile-l) {
      &:nth-last-child(-n+2) {
        display: block;
      }
    }
    @include break(tablet-s) {
      &:nth-last-child(-n+4) {
        display: block;
      }
    }
  }
  &.nav-button {
    @include break(laptop) {
      display: none;
    }
  }
}

.no-lang {
  cursor: not-allowed;
  opacity: 0.25;
}

.search-box {
  align-items: center;
  @include display-flex;
  flex-direction: column;
  height: 0;
  margin: 1rem 0.5rem;
  opacity: 0;
  transform: scaleX(0);
  transition: opacity $hover-slow, transform $hover-slow;
  z-index: -1;
  @include break(laptop) {
    width: 57rem;
    margin: 1rem auto;
  }
  &.active {
    height: auto;
    opacity: 1;
    transform: scaleX(1);
    z-index: 100;
  }
}

.search-input {
  background-color: $white;
  box-shadow: $shadow-3;
  @include break(mobile-l) {
    width: 20rem;
  }
}

.search-results {
  padding: 1rem;
  max-height: calc(100vh - 9rem);
  width: 100%;
  overflow-y: auto;
  .post {
    border: 2px solid $white;
    box-shadow: $shadow-2;
    margin-bottom: 1.5rem;
    transition: all $hover-slow;
    p, time {
      color: $header-color;
    }
    &:hover {
      border-color: $accent-color;
      box-shadow: $shadow-3;
      p, time {
        color: $header-color;
      }
    }
    @include break(tablet-l, max) {
      .content-header {
        padding: 1rem;
      }
    }
    .content-header, .content-meta {
      border-bottom: 0;
    }
  }
}
