// -----------------------------------------------------------------------------
// This file contains main layout styles.
// -----------------------------------------------------------------------------

@use 'abstracts' as *;

html {
  background: #ddd;
}

$areas: (intro, main, footer);
@each $area in $areas {
  #site-#{$area} {
    grid-area: $area;
  }
}

#wrapper {
  display: grid;
  grid-template-areas: "intro" "main" "footer";
  justify-items: center;
  margin: 5rem auto;
  @include break(laptop, max) {
    max-width: 55rem;
  }
  @include break(laptop) {
    column-gap: 2.5rem;
    grid-template-areas: "intro main" "footer main" "blank main";
    grid-template-columns: 1fr 2fr;
    max-width: 80rem;
    padding: 0 1rem;
  }
}

.overlay {
  opacity: 0.25;
  height: 100%;
  z-index: 10;
    pointer-events:none;
}
