#site-nav {
  align-items: center;
  @include display-flex;
  justify-content: space-between;
  .flyout-menu {
    right: -177px;
    width: 177px;
    @include break(desktop-up) {
      background-color: unset;
      border: none;
      flex-grow: 1;
      height: auto;
      margin: 0;
      overflow: auto;
      position: static;
      transition: none;
      white-space: nowrap;
      &::-webkit-scrollbar {
        height: 0.25em;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: $shadow-scroll;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $gray;
        outline: 1px solid $dark-gray;
      }
    }
    &.active {
      flex-wrap: wrap;
      @include break(desktop-up) {
        box-shadow: none;
      }
    }
    .search-toggle {
      display: inline-flex;
      flex-basis: 100%;
      order: 1;
    }
    .share-toggle, .search-toggle {
      display: block;
      flex-basis: 100%;
      order: 3;
      @include break(tablet-up) {
        display: none;
      }
    }
  }
}

#search {
  @include display-flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

#lang-menu {
  &.flyout-menu {
    right: -177px;
    width: 177px;
    a {
      border-left: 0;
    }
    .link {
      border-bottom: $secondary-border;
      display: block;
    }
    .no-lang {
      cursor: not-allowed;
      opacity: 0.25;
      span {
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

#share-menu {
  @include display-flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  &.flyout-menu {
    width: 177px;
    right: -177px;
    padding: 1em;
    h1 {
      font-size: 0.9em;
    }
    h1,
    a {
      margin: 0.25em 0.25em;
      @include break(tall) {
        margin: 0 0.25em 0.75em 0;
      }
    }
    a p {
      visibility: hidden;
    }
    .share-btn {
      height: 50px;
      i {
        font-size: 1.5em;
      }
    }
  }
}
