<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
    <h1 class="visuallyhidden">{{ .Site.Title }}</h1>
    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <section id="site-main">
        <h1 class="visuallyhidden">Articles</h1>
        <article class="post">
          <header>
            <div class="title">
              <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
              {{ with .Description }}<p>{{ . }}</p>{{ end }}
            </div>
          </header>
          <div id="content">
            {{ .Content }}
          </div>
        </article>
      </section>
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
  </body>
</html>
