<menu id="lang-menu" class="flyout-menu">
  <a href="#" lang="{{ .Site.Language.Lang }}" class="active"><span class="flag-icon flag-icon-{{ .Site.Language.Lang }}"></span></a>
  {{ if .IsTranslated -}}
    {{ range .Translations }}
        <a href="{{ .Permalink }}" lang="{{ .Lang }}"><span class="flag-icon flag-icon-{{ .Lang }}"></span></a>
    {{ end }}
  {{ else }}
    {{ range .Site.Languages }}
      {{ if not (eq .Lang $.Site.Language.Lang) }}
        <a href="/{{ .Lang }}" lang="{{ .Lang }}" class="no-lang"><span class="flag-icon flag-icon-{{ .Lang }}"></span></a>
      {{ end }}
    {{ end }}
  {{ end }}
</menu>
