<!-- Pagination -->
<div class="pagination">
  {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}" class="button big previous" aria-label="Previous Page"><i class="fas fa-angle-left"></i></a>
  {{ else }}
    <a href="#" class="disabled button big previous" aria-label="No Previous Page"><i class="fas fa-angle-left"></i></a>
  {{ end }}
  {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" class="button big next" aria-label="Next Page"><i class="fas fa-angle-right"></i></a>
  {{ else }}
    <a href="#" class="disabled button big next" aria-label="No Next Page"><i class="fas fa-angle-right"></i></a>
  {{ end }}
</div>
