<section id="site-intro" {{ if (and (.Site.Params.intro.hideWhenSingleColumn) (not (and .Page.IsHome .Site.Params.intro.alwaysOnHomepage))) }}class="hidden-single-column"{{ end }}>
  {{ with .Site.Params.intro.pic }}<a href="{{ "/" | relLangURL}}"><img src="{{ .src | absURL }}"{{ with .shape}} class="{{ . }}"{{ end }} width="{{ .width | default "100" }}" alt="{{ .alt }}" /></a>{{ end }}
  <header>
    {{ with .Site.Params.intro.header }}<h1>{{ . | safeHTML }}</h1>{{ end }}
  </header>
  <main>
    {{ with .Site.Params.intro.paragraph }}<p>{{ . | safeHTML }}</p>{{ end }}
  </main>
  {{ if or (.Site.Params.intro.rssIntro) (.Site.Params.intro.socialIntro) }}
    <footer>
      <ul class="socnet-icons">
        {{ if .Site.Params.intro.rssIntro }}{{ partial "rss-icon" . }}{{ end }}
        {{ if .Site.Params.intro.socialIntro }}{{ partial "socnet-icon" . }}{{ end }}
      </ul>
    </footer>
  {{ end }}
</section>
