<section id="site-intro" class="sidebar{{ if (and (.Site.Params.intro.hideWhenSingleColumn) (not (and .Page.IsHome .Site.Params.intro.alwaysOnHomepage))) }}{{ end }}">
  {{ with .Site.Params.intro.pic }}<img src="{{ .src | absURL }}"{{ with .shape}} class="{{ . }}"{{ end }} width="{{ .width | default "100" }}" alt="{{ .alt }}" />{{ end }}
  {{ with .Site.Params.intro.header }}<h1>{{ . | safeHTML }}</h1>{{ end }}
  {{ with .Site.Params.intro.paragraph }}<p class="uppercase">{{ . | safeHTML }}</p>{{ end }}
  {{ if or (.Site.Params.intro.rssIntro) (.Site.Params.intro.socialIntro) }}
      <ul class="social-icons">
        {{ if .Site.Params.intro.rssIntro }}{{ partial "rss-icon" . }}{{ end }}
        {{ if .Site.Params.intro.socialIntro }}{{ partial "social-icons" . }}{{ end }}
      </ul>
  {{ end }}
</section>
