{{- if .IsHome -}}
  {{ $version := "1.1.0"}}
  <div id="theme-message" style="background-color:#3c3b3b;color:#f4f4f4;margin:auto auto;padding:.25em 2em;width:75%;">
    <p style="text-align:center;">Wellcome to
      <code>xin iDEA iNNATA</code>. I believe everyone has their innate ideas, don't be afraid, let your idea fly and realize your value, here is xin iDEA iNNATA.</p>
      <hr>
      <h5 style="color:#f4f4f4;text-align:center;"><i class="fas fa-exclamation-triangle"></i>Version {{ $version }} - May 18, 2020<i class="fas fa-exclamation-triangle"></i></h5>
    {{ string (partial "theme-message-blank.md") | markdownify}}
    <div style="text-align:center;">
      <button onclick="removeBox()" class="button" style="color:#f4f4f4;margin-bottom:1em;">Close Notification Until Next Update</button>
    </div>
    <script>
      if (window.location.href.indexOf('localhost:') < 1 || window.localStorage.getItem('HFIS-version') == '{{ $version }}') {
        document.getElementsByTagName("body")[0].removeChild(document.getElementById("theme-message"));
      }
      function removeBox() {
        window.localStorage.setItem('HFIS-version', '{{ $version }}');
        document.getElementsByTagName("body")[0].removeChild(document.getElementById("theme-message"));
      }
    </script>
  </div>
{{- end -}}
