<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
<head>
  <meta charset="utf-8">
  <title>{{ i18n "404_pagenotfound" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "css/404.css" | relURL }}">
</head>
<body>
  <h1>404</h1>
  <h2>{{ i18n "404_pagenotfound" | safeHTML }}</h2>
  <p>{{ i18n "404_sorry" | safeHTML }}</p>
  <a href="javascript:history.back()">{{ i18n "404_back" | safeHTML }}</a>
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
